.table-ob {
  --bg-color-header: var(--color-slate-200);
  --color-border: var(--color-slate-300);
  overflow: hidden;

  border: 1px solid var(--color-border);
  border-radius: var(--rounded-xl) var(--rounded-xl);

  .table {
    border-collapse: collapse;
    font-size: var(--font-sm);
    width: 100%;

    .button-collapsible {
      transition: 0.3s all ease-in-out;
      background-color: var(--color-white);
      border: 1px solid var(--color-slate-200);
      border-radius: var(--rounded-xl);
      color: var(--color-slate-800);
      height: 17px;
      padding: 0;
      width: 17px;
      &:hover {
        color: var(--color-ob-green-dark);
      }
    }

    &__th {
      background: var(--bg-color-header);
      border-bottom: 1px solid var(--color-border);
      color: var(--color-slate-800);
      padding: var(--padding-2);

      &:first-child {
        border-start-start-radius: var(--rounded-xl);
      }

      &:last-child {
        border-start-end-radius: var(--rounded-xl);
      }
    }

    &__tr {
      background-color: #fff;
      transition: 0.3s ease-in-out;

      &--current {
        background-color: var(--color-slate-200) !important;
      }

      &--click {
        cursor: pointer;

        &:hover {
          background-color: var(--color-slate-100);
        }
      }

      &.empty:hover {
        background-color: #fff !important;
      }

      &:last-child {
        .table__td {
          border-bottom: 0;
        }

        .table__td:first-child {
          border-end-start-radius: var(--rounded-xl);
        }

        .table__td:last-child {
          border-end-end-radius: var(--rounded-xl);
        }
      }
    }

    &__td {
      // background-color: var(--color-white);
      border-bottom: 1px solid var(--color-border);
      overflow-wrap: break-word;
      padding: var(--padding-2);

      &--collapsable {
        background-color: var(--color-slate-50);
      }
    }

    &--small {
      .table__th {
        padding: var(--padding-1);
      }

      .table__td {
        padding: var(--padding-1);
      }
    }
  }
}

.table-filter {
  position: relative;

  &__icon {
    color: var(--color-slate-400);

    svg {
      fill: var(--color-slate-400);
    }

    &--active {
      color: var(--color-green-500);

      svg {
        fill: var(--color-green-500);
      }
    }
  }

  .dropdown {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-md);
    position: fixed;
    max-width: 200px;
    z-index: 20;

    &__container {
      padding: 4px;
    }

    &__footer {
      border-top: 1px solid var(--color-slate-200);
      padding: 8px 16px;
    }

    .checkbox,
    .radio {
      font-size: var(--font-sm);
      font-weight: var(--font-normal);
      margin-inline-start: 0;
      padding: 5px 12px;
      width: 100%;

      &:hover {
        background-color: var(--color-slate-100);
        border-radius: var(--rounded);
      }
    }
  }
}

